[project]
	description = A node module that implements the behaviour-driven design and map-queue algorithm
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ahmed (ahmedragab)
[access "refs/for/refs/*"]
	read = group user/Ahmed (ahmedragab)
	push = group user/Ahmed (ahmedragab)
	label-Code-Review = -2..+2 group user/Ahmed (ahmedragab)
	label-Verified = -1..+1 group user/Ahmed (ahmedragab)
	rebase = group user/Ahmed (ahmedragab)
	removeReviewer = group user/Ahmed (ahmedragab)
	submit = group user/Ahmed (ahmedragab)
[access "refs/heads/*"]
	read = group user/Ahmed (ahmedragab)
	create = group user/Ahmed (ahmedragab)
	push = +force group user/Ahmed (ahmedragab)
	pushMerge = group user/Ahmed (ahmedragab)
[access "refs/tags/*"]
	push = +force group user/Ahmed (ahmedragab)
	pushTag = group user/Ahmed (ahmedragab)
	pushSignedTag = group user/Ahmed (ahmedragab)
